.Popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #00000066;
  display: flex;
  justify-content: center;
  cursor: default;
}

.Popup.hidden {
  opacity: 0;
  transform: translate(0, 100%);
  transition: opacity 0.2s ease-in, transform 0.2s 0.2s ease-in;
}

.Popup.show {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.2s ease-in, opacity 0.2s 0.2s ease-in;
}

.popup-window {
  position: fixed;
  z-index: 1000;
  max-width: 1000px;
  max-height: 90%;
  margin: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 80%;
}

.popup-content {
  overflow: auto;
  padding: 30px;
}

.close-button {
  cursor: pointer;
  align-self: flex-end;
}

.popup-header {
  margin-bottom: 30px;
}
