.Popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #00000066;
  display: flex;
  justify-content: center;
  cursor: default;
}

.Popup.hidden {
  opacity: 0;
  transform: translate(0, 100%);
  transition: opacity 0.2s ease-in, transform 0s ease-in 0.2s;
}

.Popup.show {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0s ease-in, opacity 0.2s ease-in 0.2s;
}

.popup-window {
  position: fixed;
  z-index: 1000;
  width: calc(100% - 100px);
  max-width: 1200px;
  min-width: 600px;
  max-height: 90%;
  margin: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-content-wrapper {
  width: 100%;
  overflow: auto;
  mask-image: linear-gradient(180deg, #ffffff calc(100% - 20px), transparent);
}

.popup-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 30px;
}

.close-button {
  cursor: pointer;
  align-self: flex-end;
}

.popup-header {
  margin-bottom: 30px;
}

.Popup li > p {
  margin-bottom: 5px;
}

.Popup ul {
  margin-bottom: 15px;
}

.Popup ul ul {
  margin: 0;
  list-style-type: circle;
}

.Popup p + ul {
  margin-top: -15px;
}

.Popup img {
  width: 100%;
  margin: 50px 0;
  position: relative;
  z-index: -1;
}

.Popup h2 {
  margin-top: 50px;
}

.Popup h2,
.Popup h3 {
  margin-bottom: 10px;
}

.Popup h3 {
  margin-top: 30px;
}

.Popup table img {
  margin: 0;
}

.Popup table {
  margin-bottom: 30px;
  width: 100%;
}

.Popup table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.Popup video {
  margin: 20px 0;
}

.project-tldr {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
}

.project-tldr h2 {
  margin-top: 0;
}
